<!DOCTYPE html>
<html>
  <head>
    <title>Vivia</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.4.0/annyang.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/app.js"></script>
    <script>
    (function () {
    	var audio = new Audio();

    	function searchTracks(query) {
    		$.ajax({
    			url: 'https://api.spotify.com/v1/search',
            	data: {
            		q: query,
                	type: 'track',
                },
                success: function (response) {
                	if (response.tracks.items.length) {
                		var track = response.tracks.items[0];
                        audio.src = track.preview_url;
                        audio.play();
                        communicateAction('<div>Playing ' + track.name + ' by ' + track.artists[0].name + '</div><img width="150" src="' + track.album.images[1].url + '">');
                        setTimeout(function() {
                          question('Would you like to hear another song?');
                        }, 30000)
                    }

                }
            });
    	}

    	function playSong(songName, artistName) {
    		var query = songName;
    		if (artistName) {
    			query += ' artist:' + artistName;
        	}
        	searchTracks(query);
        }

    function message(text) {
        var rec = document.getElementById('conversation');
        rec.innerHTML += '<div class="recognized">' + text + '<div>';
    }

    function communicateAction(text) {
        var rec = document.getElementById('conversation');
        rec.innerHTML += '<div class="action">' + text + '</div>';
    }

    function recognized(text) {
        var rec = document.getElementById('conversation');
        rec.innerHTML += '<div class="recognized"><div>' + text + '</div></div>';
    }

    function question(text) {
      var rec = document.getElementById('conversation');
      rec.innerHTML += '<div class="recognized">' + text + '<div>';
    }

    if (annyang) {
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'stop': function () {
                message("Stopping music. Is there something else you want to listen to?");
                audio.pause();
            },
                'hello (there)': function(msg) {
                    message("Hello to you too! What song would you like to hear today?");
            },
                'play track *song': function (song) {
                recognized('Play track ' + song);
                playSong(song);
            },
                'play *song by *artist': function (song, artist) {
                recognized('Play song ' + song + ' by ' + artist);
                playSong(song, artist);
            },
                'play song *song': function (song) {
                recognized('Play song ' + song);
                playSong(song);
            },
                'play *song': function (song) {
                recognized('Playing ' + song);
                playSong(song);
            },
                ':nomatch': function (message) {
                recognized(message);
                message('Sorry, I don\'t understand this action');
                question("Could you please repeat that? I didn't quite get it.");
            }
        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    }

    annyang.addCallback('error', function () {
        communicateAction('error');
    });
})();
</script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-image">

                </div>
                
                <div class="card-content">
                <center>
                    <h1>Vivia</h1>
                    <h3>The best intelligent music assistant</h3>
                    <h4>You can start by saying hello!</h4>
                    <small>say hello!</small>
                </center>
                <div class="card-action">
                    <div id="conversation"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="commands"></div>

</main>
  </body>
</html>
