<!DOCTYPE html>
<html>
  <head>
    <title>Vivian</title>
    <!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.4.0/annyang.min.js"></script>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="/javascripts/app.js"></script>
    <script>
    (function () {

        // instantiate new Audio object.
    	var audio = new Audio();

        // search Spotify API for artist and song queryies.
    	function searchTracks(query) {
    		$.ajax({
    			url: 'https://api.spotify.com/v1/search',
            	data: {
            		q: query,
                	type: 'track',
                },
                success: function (response) {
                	if (response.tracks.items.length) {
                		var track = response.tracks.items[0];
                        audio.src = track.preview_url;
                        audio.play();
                        communicateAction('<div>Playing ' + track.name + ' by ' + track.artists[0].name + '</div><img width="150" src="' + track.album.images[1].url + '">');
                        setTimeout(function() {
                          question('Would you like to hear another song?');
                        }, 30000);
                    }
                }
            });
    	}

        // play 30 second snippet of song chosen. 
    	function playSong(songName, artistName) {
    		var query = songName;
    		if (artistName) {
    			query += ' artist:' + artistName;
        	}
        	searchTracks(query);
        }

        function playSongSlow(songName, artistName) {
            var query = songName;
            if (artistName) {
                query += ' artist:' + artistName;
            }
            setTimeout(function() {
                message("Yes I can.")
                searchTracks(query);
            }, 3000);
        }

        // search Coindesk API for current price quotes. 
        function showBitcoinPrice() {
            var url = 'https://api.coindesk.com/v1/bpi/currentprice/USD.json';
            $.getJSON(url, function(result) {
                var rate = result.bpi.USD.rate;
                communicateAction('<div>The current price of Bitcoin is: $' + rate);
                setTimeout(function() {
                    question("Is there anything else I can do for you?");
                }, 5000);
            });
        }

        // search webknox for simple queries.
        // Review this code 1/13/15
        function searchNews(query) {
            $.ajax({
                url: 'https://webknox-search.p.mashape.com/index/websites',
                type: 'GET',
                data: {
                    numResults: 20,
                    offset: 10,
                    query: query
                },
                dataType: 'json',
                success: function(data) {
                    var answer = JSON.stringify(data.results[0]);
                    communicateAction('<div> The answer you are looking for is: ' + answer + '</div>');
                    setTimeout(function() {
                        question("That was fun. Do you have another question for me?");
                    }, 3000);
                }
            });
        }
    



        /* search api.wunderground for current weather
        function showWeather() {
            var url = 'http://api.wunderground.com/api/36b799dc821d5836/conditions/q/WA/Seattle.json';
            dataType: 'jsonp',
            data: 'url',
            success: (data) ->
                for index, result of data
                    temp    = Math.round result.temp_f
                    icon    = result.icon_url
                    weather = result.weather
        }
        */

        function message(text) {
            var rec = document.getElementById('conversation');
            rec.innerHTML += '<div class="recognized">' + text + '<div>';
        }

        function communicateAction(text) {
            var rec = document.getElementById('conversation');
            rec.innerHTML += '<div class="action">' + text + '</div>';
        }

        function recognized(text) {
            var rec = document.getElementById('conversation');
            rec.innerHTML += '<div class="recognized">' + text + '</div>';
        }

        function question(text) {
            var rec = document.getElementById('conversation');
            rec.innerHTML += '<div class="recognized">' + text + '<div>';
        }

    if (annyang) {
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'stop': function () {
                message("Stopping music. Is there something else you want to listen to?");
                audio.pause();
            },
                'hello (*vivia *there *robot)': function(msg) {
                    message("Hello to you too! What can I do for you today?");
            },
                'play track *song': function (song) {
                recognized('Play track ' + song);
                playSong(song);
            },
                'play *song by *artist': function (song, artist) {
                recognized('Play song ' + song + ' by ' + artist);
                playSong(song, artist);
            },
                'play song *song': function (song) {
                recognized('Play song ' + song);
                playSong(song);
            },
                'play *song': function (song) {
                recognized('Playing ' + song);
                playSong(song);
            },
                '(*what *is *the) (*current *recent) price of bitcoin': function(price) {
                recognized('What is the current price of bitcoin? ' + price);
                showBitcoinPrice();
            },
                'can you play *song': function (song) {
                recognized("Hmmm... Let me check.")
                playSongSlow(song);
            },
                '(*find) (*look *up)': function (search) {
                recognized("Looking... Looking.... " + search)
                searchNews(search)
            },
                ':nomatch': function (message) {
                recognized(message);
                message('Sorry, I don\'t understand this action');
                question("Could you please repeat that? I didn't quite get it.");
            }
        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    }

    annyang.addCallback('error', function () {
        communicateAction('error');
    });
})();
</script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-image">

                </div>
                
                <div class="card-content">
                <center>
                    <h1>Vivian</h1>
                    <h3>A new intelligent assistant</h3>
                    <h4>You can start by saying hello!</h4>
                </center>
                <div class="card-action">
                    <div id="conversation"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="commands"></div>

</main>
  </body>
</html>
